<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>I am a Fullstack Developer whos taking the plunge into the world of Cybersecurity after 6 YOE in the tech industry.</p>
        
        
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, Kotlin, React.js<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata), Geany<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis (IDS/IPS), Log Analysis, Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Google Workspace, Microsoft Suite, Slack, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Calmness Under Pressure <br></p>
      <h3>Certifications and Education</h3>
          <a href="https://coursera.org/share/e36228ddc7c9c6043f20f8025f7872a1"> Google Cybersecurity Certificate </a> 
          <br><p>G.E.D - Boxelder Job Corp</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        
        </a>
      </div>
    </div>
  </div>
</section>
